services:
  stock-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: stock-manager-api:0.01

    ports:
      - "8080:8080"
    dns:
      - 8.8.8.8
      - 8.8.4.4


    environment:
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}